*{margin:0; padding:0;}
.login_form {
    background: #f5f5f5 none repeat scroll 0 0;
    border: 1px solid;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    padding: 20px;
}
.title_bg {
    text-align: center;
}
.login_btn {
    margin-top: 20px;
}
.form-fluid {
    background: #000 none repeat scroll 0 0;
    height: 650px;
    padding: 175px 0 0;
}