.form-section {
    float: left;
    margin-top: 65px;
    width: 100%;
}
.manage-reseller tr td {
    padding-left: 11px !important;
	text-align:left !important;
}
.booking-form {
    float: left;
    width: 100%;
    color: #000000;
    font-size: 14px;
	margin-bottom: 90px;
}
.btn-edit .btn {
    bottom: -72px;
    margin-bottom: 10px;
    position: absolute;
    right: 20px;
}

.btn-edit{
  position:relative;
}

.book-form {
    border: 1px solid #cccccc;
    float: left;
    margin: 0;
    padding: 60px 80px;
    width: 100%;
}
.form-control {
    border-radius: 0 !important;
    height: 40px !important;
}
.form-group.col-sm-6.npl {
    padding-left: 0;
}
.form-group.col-sm-6.npr {
    padding-right: 0;
}

.submit-btn {
    float: left;
    width: 100%;
}
.submit-btn .submited-btn{
    background: #444444 none repeat scroll 0 0;
    color: #ffffff;
    float: left;
    padding: 10px;
    width: 15%;
}

table.manage-reseller {
    margin-top: 5px;
}
.manage-reseller th {
    background: #bcbcbc none repeat scroll 0 0;
    padding: 10px !important;
}
.page-heading h3 {
    color: #101010;
    text-align: left;
}

.manage-reseler-btn {
    float: right;
}

.table.table-under-panel tr th:last-child, .table.table-under-panel tr td:last-child {
    text-align: center;
    width: 100px;
}

.manage-reseller{
  font-size:12px;
}

.order_detail {
    padding-left: 2px;
}