*{margin:0; padding:0}
body{
	margin:0;
	/*margin-bottom: 160px !important; */
	/* margin-bottom: 90px !important; */
	padding:0;
	background: #516070 !important;
 }
 .main_section {
    background: #efeee9;
	    min-height: 100vh;
}
.reduce_size {
    padding: 5px 5px 5px 15px !important;
}

.navbar.navbar-default.navbar-inverse.navbar-fixed-top {
    height: 68px;
	box-shadow: -1px 2px 6px #516070;
}

tr td {
    word-break: break-all;
}
#OrderPackages tr:hover {    background: #fff;}

i.collapse_icon {    
	font-size: 26px;
    background: #516070;
    padding: 21px 10px;
    cursor: pointer;
    border-left: 1px solid #516070;
}
.logo {    
	color: #fff !important;        
	left: 30px;
	padding: 21px 5px;    
	position: fixed;    
	top: 4px;    
	font-size: 25px;
}
.nav.navbar-nav .setting_icon a {
    padding: 8px 13px;
}
.left_col .nav>li:hover {
    border-right: 3px solid #5bbc2f;
}
.nav.navbar-nav .setting_icon a:focus {
    background: #5bbc2f none repeat scroll 0 0 !important;
}
.menu_section .nav.side-menu {
  /*  margin-bottom: 40px;*/  
}
.nav.navbar-nav.navbar-right {
    color: #fff !important;
    font-size: 16px;
    position: absolute;
    right: 32px;
    top: 11px;
}
.nav.navbar-nav a, ul li .export-btn{
    background: transparent;
}
.table_headers {
    background: #ddd none repeat scroll 0 0;
    color: #00c7bb;
    font-size: 16px;
    list-style: outside none none;
    margin-top: 70px;
    padding: 15px 30px;
    text-align: left;
}
table {
    color: black !important;
}
.table_data {
    /* margin-top: 75px; */
    border: 5px solid #DBE5E6 !important;
    margin-right: 10px;
    display: inline-block;
    width: calc(100% - 10px);
}
.table_data .table-bordered {
    margin-bottom: 0;
}

.panel-body{
	background:#fff;
	color:#333;
	padding:30px;
	position: relative;
}
.navbar-inverse {
	background-color: #516070;
    border-color: #516070;
}
.nav.navbar-nav li.active a, .nav.navbar-nav li a:hover, .nav.navbar-nav li a:focus {
    background: #5bbc2f none repeat scroll 0 0;
}
.export-btn:hover {
    background: #5bbc2f none repeat scroll 0 0;
}

.nav.nav-tabs {
    background: #eeeeee none repeat scroll 0 0;
}

.nav.nav-tabs a {
    color: #333333 !important;
    padding: 20px 6px;
}

.nav.nav-tabs li.active > a{
	background:#eee;
	color:#000;
	font-weight:bold;
	border:none;
}

.nav.nav-tabs .active > a::before {
    bottom: -29px;
    color: #ffffff;
    content: "";
    font-family: FontAwesome;
    font-size: 50px;
    left: 35%;
    position: absolute;
    text-shadow: 0 -1px 0 #cecece;
ppppppppp
}

.tab-content {
    display: inline-block;
    padding-bottom: 30px;
}

.tab-content .btn{
    font-size: 14px;
    padding: 5px 30px;	
}
.tab-content .btn-danger {
    background: #d3375f none repeat scroll 0 0;
}

.tabs-main {
    border: 1px solid #bdbdbd;
    border-radius: 4px;
    overflow: hidden;
}

.tab-pane {
    padding: 30px 0;
}

td .panel-collapse {
    margin-top: 20px;
    position: absolute;
}

.cmpny{
	padding:10px 5px !important ;
	position:relative
}

.cmpny form {
    background: #cccccc none repeat scroll 0 0;
	bottom: 0;
    left: 0;
    opacity: 0;
    padding: 6px;
    position: absolute;
    transition: all 0.4s ease 0s;
    width: 280px;
	z-index:-10;
}

.cmpny:hover form{
	opacity: 1;
    bottom: -50px;
	z-index:10;
}

.btn-close {
    background: red none repeat scroll 0 0;
    border-radius: 50%;
    color: #fff;
    display: inline-block !important;
    font-size: 25px;
    height: 40px;
    line-height: 38px;
    position: absolute;
    right: 50px;
    text-align: center;
    top: 40px;
    width: 40px;
	opacity:1;
	transition:.25s all;
	padding: 7px;
}

.btn-close:hover{
	cursor:pointer;
	color:#fff;
	opacity:.9;
}
.cmpny .fa.fa-search {
    color: #c0c0c8;
    font-size: 20px;
    position: absolute;
    right: 18px;
    top: 15px;
}
.cmpny .fa.fa-search:hover
{
	cursor:pointer;
}
.active_row
{
	 background: #fff ;
}
footer {
    background: #000000 none repeat scroll 0 0;
    float: left;
    margin-top: 40px;
    padding: 20px 0;
	display:none;
}

footer p{
  color:#9f9f9f;
  padding:0 20px;
  text-align:right;
   margin: 0;
}


#content_info {
    margin-bottom: -20px;
}

.modal-body .form-group label {
    color: #000;
}

.modal-footer {
    border-top: 1px solid #a5a5a5;
    padding: 15px;
    text-align: right;
}

.company-modal {
    width: 900px;
}
.company-modal-pd{ padding:15px;}
.pay-now{ margin-right:10px; background: #5bbc2f none repeat scroll 0 0 !important;}
.pay-Invoice{background: #384ef9 none repeat scroll 0 0 !important;}



/* =======================  MODAL NEW  ========================= */

input{
   color: #000000;
}
.modal-header h4 {
    color: #222222 !important;
    font-size: 20px;
    font-weight: bold;
}

.modal-header .close {
    border: 2px solid #000;
    border-radius: 50%;
    font-size: 24px;
    height: 30px;
    line-height: 20px;
    opacity: 0.4;
	margin-top: 0px !important;
    width: 30px;
}

.modal-body .form-group label {
    color: #202020;
    font-size: 12px;
    text-transform: uppercase;
}


.modal-body .btn{
  border:none;
}
.modal-body .btn-success {
    background: #d8335d none repeat scroll 0 0;
    border-radius: 2px;
    color: #ffffff !important;
    font-size: 13px;
    font-weight: bold;
    margin: 5px 6px;
    padding: 8px 15px;
    transition: all 0.3s ease 0s;
	border:none;
}

.modal-body .btn-default{
  background:#3c3c3c;
  color:#999;
}


.modal-dialog .btn {
    border-radius: 0;
    height: 40px;
    margin-right: 10px;
    min-width: 100px;
	font-weight: bold;
	border-radius: 2px;
}



/* =============== Table Reseller  ============== */

.manage-reseller tr td:nth-child(6) {
    text-align: left;
}





#OrderPackages > tr > td:nth-child(5), #OrderPackages > tr > td:nth-child(4), #OrderPackages > tr > td:nth-child(6), #OrderPackages > tr > td:nth-child(7), #OrderPackages > tr > td:nth-child(8), #OrderPackages > tr > td:nth-child(9) {
    text-align: center !important;
}

.td_host_class {
    text-align: center !important;
}

.td_location_class {
    text-align: center !important;
}

.table-hover > thead > tr > th:nth-child(5) select, .table-hover > thead > tr > th:nth-child(4) select, .table-hover > thead > tr > th:nth-child(6) select, .table-hover > thead > tr > th:nth-child(7) select, .table-hover > thead > tr > th:nth-child(8) select, .table-hover > thead > tr > th:nth-child(9) select, .table-hover > thead > tr > th:nth-child(10) select {
    text-align: center !important;
}


.action-btn{
  text-align:center;
}

.action-btn .btn{
  margin-top:30px;
  margin-right:10px;
}
.ui-datepicker-calendar tr td {
    padding: 0 !important;
}

.modal-body .form-control::-moz-placeholder {
    color: #393939;
    font-size: 13px;
    font-weight: bold;
    opacity: 1;
    text-transform: uppercase;
}

.modal-content {
    background-color: #ededed;
}

.modal-body  .form-control  {
    background: #e5e5e5 none repeat scroll 0 0;
    border-radius: 4px !important;
    height: 45px !important;
    border: medium none !important;
    box-shadow: 0 0 4px 0 #ffffff;
	border-top: 1px solid #dcdcdc !important;
    font-size: 13px;
    font-weight: bold;
	 color: #393939;
}
#add__notes .modal-body .form-control {
    height: auto !important;
}
#add__notes .modal-dialog .btn {
    margin-right: 5px;
}
.modal-header {
    border-bottom: 2px solid #e5e5e5;
    box-shadow: 0 5px 2px -4px #ffffff;
    margin-bottom: 20px;
    min-height: 16.4286px;
    padding: 15px;
	margin-left: 1px;
}

.text-right.form-actn-bottm {
    margin-right: 0;
    margin-top: -45px;
}

.nmr {
    margin-right: 0 !important;
	
}
.btn-edit .btn-success {
    float: right;
    margin-bottom: 10px;
    margin-right: 20%;
}
.modal-header .alert {
    font-size: 18px;
    font-weight: normal;
    line-height: 24px;
    margin-bottom: 0;
    padding: 0;
    width: 90%;
}

.td_message_class {
    text-align: left !important;
}


.export-btn{
	background: #3c3c3c none repeat scroll 0 0;
    border-radius: 2px;
    color: #ffffff !important;
    font-size: 13px;
    font-weight: bold;
    margin: 5px 6px;
    padding: 8px;
    transition: all 0.3s ease 0s;
	}
.export-btn:hover {
    background: #5bbc2f none repeat scroll 0 0;
}
table tr td {
    padding: 8px 2px !important;
}
#tab_message36 .tab_message_message {
    width: 20% !important;
}
#tab_message36 .tab_message_email {
    width: 22% !important;
}



.home-table-header  > tr > th:nth-child(5), .home-table-header > tr > th:nth-child(6), .home-table-header > tr > th:nth-child(7), .home-table-header > tr > th:nth-child(8), .home-table-header > tr > th:nth-child(9){
  text-align:center !important;
}


.navbar.navbar-fixed-top{
  margin-bottom:0 !important;
}





.pagination-btm form select, .pagination-btm a, .pagination-btm strong {
    background:#fff;   
    border: 1px solid #cccccc;
    box-shadow: none;
    display: inline-block;
    height: 34px !important;
    line-height: 34px;
    padding: 0 10px !important;
	transition:.20s all;
}


.pagination-btm a:hover{
  text-decoration:none;
}

.pagination-btm strong, .row.pagination-btm > a:hover {
    background: #337ab7 none repeat scroll 0 0;
    border-color: #337ab7;
    color: #ffffff;
}

.pagination-bottom {
    background: #efefef none repeat scroll 0 0;
    bottom: 0;
    box-shadow: 1px 1px 3px 2px #808080;
    float: left;
    padding: 10px 40px;
    position: fixed;
    right: 0;
    width: 100%;
	z-index:2000;
}

footer.footer-mini {
    background: #efefef none repeat scroll 0 0;
    bottom: 0;
    box-shadow: 1px 1px 3px 2px #808080;
    float: left;
    padding: 10px 40px;
    position: fixed;
    right: 0;
    width: 100%;
	z-index:10;
	display:block !important;
}
.copyright-text {
    line-height: 24px;
o
    margin: 0;
    padding-top: 6px;
    text-align: left;
}
.copyright-text a {
    color: #212121;
    font-size: 13px;
    font-weight: bold;
}
/*===========scroll=========*/
.modal-body {
    max-height: 490px;
    overflow-x: hidden;
}

.modal{
 z-index:1000000;
}

.pagination-btm {
    float: right !important;
    /* min-width: 500px !important; */
}

.chng-status .btn.btn-success {
    margin-right: 224px;
}



.form-group.deposit_input {
    color: #000;
}
.form-group.deposit_input .form-control {
    border: 1px solid #ccc !important;
    height: 30px !important;
    width: 110px !important;
}

.comp_full_name
{
	width: 175px !important;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
	text-transform: uppercase;
	padding-left: 5px;
}

.comp_full_name:hover {
    overflow: hidden;
    white-space: normal;
    width: auto;
    background-color: transparent;
}
.abc{
   color:red;
}
.no-label label{
 visibility:hidden;
}
.form-group.deposit_input.cust_input .form-control {
    width: 100% !important;
	margin-bottom: 10px;
}
.new_modal-content .modal-header {
    margin: 0;
}
.new_modal-content  .modal-body {
    padding: 0 15px;
}
.form-group.deposit_input.cust_input label {
    min-height: 18px;
}
.new_modal-content .text-right {
    margin-bottom: 14px;
}

.hide_option{
	display:none;
}


/*		<style>  sidebar start*/
  .nav-md .container.body .col-md-3.left_col {
    display: flex;
    min-height: 100%;
    padding: 0;
    position: absolute;
    width: 230px;
    z-index: 1;
}
.lg_col .left_col {
    position: absolute;
    left: -250px;
}
.left_col {
    background: #424242 none repeat scroll 0 0;
}

.left_col .nav_title {
    border-bottom: 1px solid #525252 !important;
    border-radius: 0;
    float: left;
    height: 70px;
    width: 180px;
    padding-top: 7px;
	margin: 0;
}
.left_col .site_title {
    display: block;
    font-size: 22px;
    font-weight: 400;
    height: 60px;
    line-height: 60px;
    margin: 0;
    overflow: inherit;
    padding-left: 10px;
    width: 100%;
}
.left_col .navbar-brand, .navbar-nav > li > a, .site_title {
    color: #ecf0f1 !important;
    margin-left: 0 !important;
}
.table_data .table-bordered {
    border: none;
}

.left_col .hed_search {
    font-size: 16px;
}
.left_col .hed_search .fa {
    margin-top: -8px;
    vertical-align: middle;
}
.left_col .search_drop {
    left: 0;
    padding: 0;
    width: 300px;
	z-index: 999999;
}
.left_col .search_drop input {
    border-radius: 0;
    width: calc(100% - 40px) !important;
}
.left_col .ellipsis_icon {
    margin-right: 10px;
    padding: 15px 5px;
}
.left_col .main_menu_side {
    padding: 0;
	overflow: hidden;
}
.xs_col  .left_col {
	max-width: 180px;
	float: left;
	position: fixed;
	z-index: 9999;
	top: 0;
}
.xs_col  .main_section {
    width: calc(100% - 180px);
	float: right;
}
.xs_col .navbar.navbar-default.navbar-inverse.navbar-fixed-top{
    width: calc(100% - 180px);
    left: 180px;
}
.xs_col .bt-menu{
    width: calc(100% - 180px);
	position: relative;
}
.xs_col .logo {
    left: 210px;
}

.package_box_fixed {
    position: fixed;
    max-width: 180px;
}
.left_col .hed_search {
    font-size: 16px;
    color: white;
	text-decoration: none;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
    color: white;
}
i.fa.fa-home{
	color: white;
}
/*		<style>  sidebar end */

.xs_col .table-bordered {
    overflow: auto;
    /* display: block; */
}
.xs_col  footer.footer-mini, .xs_col .pagination-bottom {
    width: calc(100% - 180px);
}
.xs_col   nav.bt-menu >i.fa:before {
    content: "\f0d9";
}
.site_title .form-inline {
    z-index: 9999;
    width: 100%;
}
.search_drop button {
    border-radius: 0;
    padding: 13px;
    border: none;
}
.left_col .dropdown.open>.dropdown-menu {
    display: block !important;
}
.dropdown:hover .dropdown-menu {
    display: none;
	text-decoration:none;
}
.xs_col .nav.navbar-nav a {
    padding: 8px;
}
.left_col .nav>li>a {
    /* border-bottom: 1px solid #525252 !important; */
    padding: 20px 10px;
    font-size: 14px;
}
.left_col .nav>li>a:hover, .left_col .nav>li>a:focus {
    background-color: #525252;
}
.left_col .menu_section {
    height: 600px;
    overflow: auto;
    width: 197px;
}
.left_col .menu_section:hover {
    width: auto;
}
.scroll_set {
    padding-top: 20px;
    padding-bottom: 20px;
    float: none;
    padding-right: 20px;
    width: 100%;
    background: #efeee9;
    display: inline-block;
}
#content_info td, #content_info td a {
    color: #73879C !important;
    font-size: 11px;
	vertical-align: middle;
}
.table-hover>tbody>tr:hover {
    background-color: transparent;
}
.left-nav-tab {
    width: 180px;
    background: #516070;
    padding-top: 70px;
	display: inline-block;
}
.left-nav-tab li {
    display: block;
	width: 100%;
	border-top: 1px solid #ddd;
	border-right: 2px solid #ddd;
}
.left-nav-tab li:last-child {
	border-bottom: 1px solid #ddd;
}
.left-nav-tab .nav.nav-tabs .active > a::before {
    display:none;
}
section#content_info {
    width: calc(100% - 10px);
    margin-top: 60px;
    position: relative;
    margin-left: 10px;
}
section#content_info1 {
    width: calc(100% - 150px);
    float: right;
	position: relative;
}
#lg_col.lg_col .main_section {
    background: #efeee9;
	display: inline-block;
    float: left;
	    width: 100%;
}
#lg_col.lg_col .main_section .tab-content.right-tab-panes {
    background: #efeee9;
}
.content_info_section {
    width: calc(100% - 180px);
    float: right;
	margin-top: 40px;
}
#over_view .overview-box1, #partner_serv .overview-box, #home .overview-box, #home .overview-box1 {
    box-shadow: 2px 2px 16px -5px rgba(0, 0, 0, 0.75);
}
body {
    font-size: 13px;
	font-family: "Droid Sans", sans-serif !important;
}
.overview-box {
    float: left;
    width: 100%;
    min-height: 280px;
    background: #fff;
    border: 1px solid #ccc;
    padding: 0 15px;
    margin: 10px 0;
}
.overview-box1 {
    float: left;
    width: 100%;
    min-height: 130px;
    background: #fff;
    border: 1px solid #ccc;
    padding: 0 15px;
    margin: 10px 0;
}
.view_det a {
    color: #5bba34;
}
.outer_overview .jambo_table {
    border: 1px solid #DBE5E6;
}
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}
.table-striped>tbody>tr:nth-of-type(even) {
    background-color: #fff;
}
.outer_overview .table>tbody>tr>td {
    border-right: 1px solid #ddd;
    color: #73879C;
}
.overview-box1 p, .overview-box p {
    color: #73879C;
}
.overview-box h3, .overview-box1 h3 {
    font-size: 18px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    color: #E37590;
	margin-top: 12px;
}
.nav.nav-tabs li.active > a {
    background: #fff;
}
.nav.nav-tabs li.active {
	border-right: 3px solid #5bbc2f !important;
}
.left_col .side-menu li.active {
    border-right: 4px solid #5bbc2f;
}
/* thead.home-table-header.static-header th {
    min-width: 80px;
} */
.reseller-head.th_reseller_class:hover , .reseller.td_reseller_class:hover  {
    overflow: visible;
}
.reseller-head.th_reseller_class:hover a, .reseller.td_reseller_class:hover a {
	background-color: transparent;
}
.reseller-head.th_reseller_class, .reseller.td_reseller_class {
    max-width: 140px !important;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.home-table-header tr th {
    min-width: 62px;
}
.th_state_class #state_change {
    max-width: 75px;
}
b.caret.caret-custom {    position: absolute;    right: 2px;    top: 33%;}
.table-bordered .home-table-header tr th {    position: relative;}
.setting_icon.open>.dropdown-menu {    display: block;}
.setting_icon.dropdown .dropdown-menu a {    background: transparent;    color: #454545 !important;    margin: 2px;    border-radius: 0;}
.setting_icon.dropdown .dropdown-menu a:hover {    background: #efefef;}
.nav.navbar-nav .setting_icon.add_company a {
    padding: 8px;
}
.payment_box {
    border-bottom: 1px solid #ccc;
    display: inline-block;
    width: 100%;
    vertical-align: top;
}
.paymentoption {
    margin-top: 75px;
}
.pay_info_sec a {
    color: #5bba34 !important;
}
.pay_cont_sec i {
    width: 15px;
    text-align: center;
    margin-right: 4px;
    font-size: 14px;
}
.pay_cont_sec, .pay_info_sec, .pay_img_sec {
    padding: 15px;
}
.payment_box:last-child {
    border-bottom: none;
}
.pay_info_sec {
    text-align: center;
    margin-top: 30px;
}
.payment_head h3 {
    margin-bottom: 0;
	margin-top: 10px;
}

.companysection {
    margin-top: 60px;
}
.box_header {
    background: #616161;
    margin: 15px 0 0;
    padding: 15px;
    display: inline-block;
    width: 100%;
}
.box_header>h3, .box_header>h5 {
    margin: 0 !important;
    border: none !important;
    display: inline-block;
    padding: 0 !important;
    color: #fff !important;
}
.add_company_left .sub_nav {
    display: inline-block;
    width: 100%;
    background: #616161;
    padding: 0 15px;
    margin-top: 14px;
}
.companysection .nav.navbar-nav>li>a {
    margin: 9px 3px;
}
.free_sec .help {
    transition: opacity .2s, z-index .2s .2s;
    padding: 10px;
    width: 230px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
    background: #000;
    color: #fff;
    font-size: 13px;
    text-align: center;
    border-radius: 3px;
    position: absolute;
    z-index: -10;
    opacity: 0;
    left: -18px;
    top: -68px;
    font-family: sans-serif;
}
.free_sec {
    font-size: 16px;
    margin-top: 18px;
}
.free_sec .fa-info-circle {
    font-size: 18px;
    margin-right: 10px;
}
.add_companies {
    color: #333;
}
.free_sec .fa-info-circle:hover .help {
    z-index: 1;
    opacity: 1;
}
.box_header h3 {
    font-size: 20px;
}
.add_company_right {
    width: 373px;
    float: right;
}
.add_company_left {
    width: calc(100% - 373px);
}
.help .fa-caret-down {
    position: absolute;
    bottom: -18px;
    color: #000;
    font-size: 30px;
}
.margin_bott {
    margin-bottom: 20px;
}
.company_det p {
    margin-left: 20px;
    color: #616161;
    font-size: 12px;
}
.company_btn button {
    padding: 4px 15px !important;
    margin-top: 16px;
}
.free_sec select.form-control {
    height: 34px !important;
    padding: 6px 12px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px !important;
}
.right_package_box .form-control {
    border-radius: 4px !important;
    height: 34px !important;
}
form.right_package_box {
    color: #73879C;
}
.price_btn>button {
    display: block;
    width: 100%;
    padding: 8px;
}
.right_package_box.package_box_fixed {
    position: fixed;
    max-width: 343px;
    top: 55px;
}





.pay_cont_sec {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
.search-form-custom {
	float: left;
    width: calc(100% - 10px);
	background: #516070;
    padding: 15px 15px 5px;
    box-shadow: -1px 3px 2px #516070;
    margin: 15px 0;
}
.search-custom button.btn.btn-success {
    margin-bottom: 5px;
	    margin-left: 15px;
}
input.form-control.custom_srch {
    display: inline-block;
    width: 100%;
    max-width: 340px;
    height: 35px !important;
    padding: 6px 12px;
    font-size: 15px;
    line-height: 1.42857143;
    color: #555;
	margin: 0 0 10px 15px;
    border: 1px solid #ccc;
    border-radius: 4px !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.sub_nav.search_tabs .nav a {
    margin: 0;
    border-radius: 4px;
}
.search-custom label .asds {
    position: absolute;
    left: 0;
    margin-top: 2px;
}
.search-custom label {
    display: inline-block;
    margin: 6px 5px 6px 10px;
    color: #fff;
    padding-left: 18px;
    position: relative;
}
.table-bordered .home-table-header tr th select, .table-bordered .home-table-header tr th {
    text-align-last: center;
	outline: none;
}
.table-bordered .home-table-header tr th select#reseller_change, .table-bordered .home-table-header tr th.cmpny.th_company_class {
    text-align-last: left;
}
.th_location_class, .th_ltd.th_reg_class, .th_reg_class, .th_director_class, .th_business_class, .th_tele_class, .th_billing_class { 
    width: 30px !important;
	padding: 10px 2px !important;
}
td.td_bill_class {
    text-align: center;
}
#advance_search .modal-dialog {
    width: 100% !important;
    max-width: 1000px !important;
}

#advance_search .modal-body .form-control {
display: block;
    width: 100%;
    height: 34px !important;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc !important;
	font-weight: 300;
}
#advance_search  .col-sm-6.form-group {
    width: 33.3333%;
    display: inline-block;
    float: none;
    margin-left: -3px;
}
#advance_search  .col-sm-6.text-right.form-actn-top {
    width: 100%;
}
#advance_search .modal-content {
    background-color: #fff !important;
}
#advance_search  .modal-body .form-group label {
    color: #73879C;
}
#advance_search  .modal-header {
    margin-bottom: 0;
    padding: 15px 15px 5px;
}


#order_deposite .modal-dialog {
    width: 100% !important;
    max-width: 1000px !important;
	color: #73879C;
}
#order_deposite  .modal-header {
    display: inline-block;
    width: 100%;
    background: #616161;
    padding: 6px 15px;
    margin: 0;
    border: none;
}
#order_deposite  .exit {
    float: right;
    font-size: 20px;
    padding: 14px 0 0;
}
#order_deposite .balance_title {
    float: right;
    margin: 10px 0 0;
}
#order_deposite .balance_title a {
    font-size: 20px;
    margin: 0 20px 0 15px;
	color: #fff;
}
#order_deposite  .tab-pane {
    padding: 0;
}
#order_deposite .exit a{
    color: #fff;
}
#order_deposite .table.jambo_table.bulk_action {
    border: 3px solid #DBE5E6;
    background: #efeee9 none repeat scroll 0 0;
	margin-bottom: 0;
}
#order_deposite .table.jambo_table.bulk_action th.column-title {
    border: none !important;
    border-right: 1px solid #ddd !important;
	    position: relative;
}
#order_deposite .table.jambo_table.bulk_action tr {
    background: #ffffff none repeat scroll 0 0 !important;
}
#order_deposite .modal-body {
    padding: 15px 0 0;
}
#order_deposite .tab-content {
    padding-bottom: 0;
}
#order_deposite .modal-body select.form-control, #order_deposite .modal-body input.form-control {
    display: block;
    width: 100%;
    height: 34px !important;
    padding: 6px 12px !important;
    background: #fff;
    font-weight: 300;
    box-shadow: none;
    border: 1px solid #dcdcdc !important;
}
#order_deposite .modal-body .form-group label {
    color: #73879C;
	text-transform: inherit;
    font-size: 13px;
    font-weight: 300;
}
td.td_price_class, td.td_deposit_class, td.uploadId {
    text-align: center;
}
.nav.nav-tabs li:hover  a{
    background: #fff;
}
.nav.nav-tabs li:hover {
    border-right: 3px solid red !important;
}
#order_deposite td {
    color: #73879C;
}
#order_deposite .modal-body {
    background: #fff;
}
#order_deposite  b.caret.caret-custom {
    right: 7px;
    top: 17px;
}
.search-custom1 {
    text-align: center;
}
.nav.navbar-nav .setting_icon a i.fa.fa-ellipsis-v {
    font-size: 20px;
}
.setting_icon1>a>i.fa.fa-home {
	font-size: 20px;
}
#change_limited .form-group.deposit_input .form-control {    height: auto !important;    width: auto !important;    display: inline;    margin: 0 20px 0 7px;    vertical-align: middle;}

.loader {
    border: 50px solid #2d2c2c;
    border-radius: 50%;
    border-top: 50px solid #5bbc2f;   
	 width: 0;   
	 height: 0;   
	 -webkit-animation: spin 2s linear infinite; 
	 animation: spin 2s linear infinite;
 } 
 
 @-webkit-keyframes spin  {  

	 0% { -webkit-transform: rotate(0deg); } 
	 100% { -webkit-transform: rotate(360deg); }
 }

 @keyframes spin {  
	 0% { transform: rotate(0deg); }  
	 100% { transform: rotate(360deg); }
 }
 .loader_background {
    background: rgba(238, 238, 238, 0.75);
    position: absolute;
    width: 100%;
    z-index: 9;
    height: 100%;
}
.loader {
    position: fixed;
    left: 50%;
    top: 50%;
}
.search2_custom input.form-control.custom_srch, .search2_custom select#reseller_id1{
    max-width: 200px !important;
}
/* .search-custom.search2_custom {
    text-align: center;
} */
.search2_custom select#reseller_id1 {
    min-width: 270px;
}
.search2_custom input#renew_company_from1,
.search2_custom input#renew_company_to1 {
    max-width: 130px !important;
}
.search2_custom select#reseller_id1{
    display: inline-block;
    width: 100%;
    max-width: 340px;
    height: 35px !important;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    margin: 0 0 10px 15px;
    border: 1px solid #ccc;
    border-radius: 4px !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

 button.btn.btn-success {
    background-color: #5bbc2f;
    border-color: #5bbc2f;
}

div#show_images>img {
    display: inline;
    float: left;
}

div#show_images>a {
    display: inline;
    float: left;
}
div#show_images1>a {
    display: inline;
    float: left;
}
#show_images a img {
    height: 50px;
    width: 50px;
    display: block;
}
#show_images1 a img {
    height: 50px;
    width: 50px;
    display: block;
}
#show_images img {
    height: 50px;
    width: 50px;
    display: block;
}

/*-----7-june-----*/
.modal-body .form-group label[for="comment"]{
    margin-bottom: 0px;
}
#message_handler .modal-dialog {
    width: 900px;
}
.mess_div {
    text-align: right;
}
.save_message_text {
    min-height: 104px;
}
.mess_div .message_text {
    margin: 15px 0 10px !important;
}
#message_handler  .form-group .btn {
    margin-top: 0px;
}
#mail_handler .modal-dialog {
    width: 722px;
}
.bottom_content_info .comp_full_name {
    width: auto;
	margin-top: 10px;
}
.top_content_info .comp_full_name {
    width: auto;
}
#type_change {
    width: 70px;
    position: absolute;
}
#type_change:hover {
    width: 70px;
    position: absolute;
    background: #efeee9;
    z-index: 1;
}
/*-----7-june-----*/
/*-----8-june-----*/
.set_dropdown_ltd .dropdown-menu {
    margin: 0;
    padding: 0;
	top: 30px;
}
.set_dropdown_ltd.dropdown.open:hover .dropdown-menu {
    display: block;
}
.set_dropdown_ltd.dropdown .dropdown-menu>li>a {
    padding: 5px 15px;
    border-bottom: 1px solid #ccc;
}
/*-----8-june-----*/


.modal-dialog.lg-modal-dialog{
    width: calc(100% - 30px);
    max-width: 1200px;
}
.lg-modal-dialog .modal-body {
    max-height: 100%;
}
.lg-modal-dialog.modal-dialog .btn.btn-danger {
    max-width: 100px;
}
.lg-modal-dialog.modal-dialog .btn.btn-success {
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.data-print td {
    text-align: left;
}

.new_deposit_form {
    width: calc(100% - 50px);
}
.post_export_btn {
    margin-top: 10px;
    display: inline-block;
}

#content_info td .green {
    background: #5bbc2f;
    color: #fff !important;
    width: 100%;
    border-radius: 4px;
    padding: 7px 4px 5px;
	text-align:center;
}
#content_info td .orange {
    background: #f0990c;
    color: #fff !important;
    width: 100%;
    border-radius: 4px;
    padding: 7px 5px 5px 5px;
}
#content_info td .red {
    background: #f80202;
    color: #fff !important;
    width: 100%;
    border-radius: 4px;
    padding: 7px 3px 5px;
	text-align: center;
}
li.live-btn {
    display: none;
}
.dropdown-menu.set-alin {
    left: inherit;
    right: 0;
}
#upload_data .modal-dialog {
    width: 100%;
    margin: 30px auto;
    max-width: 1000px;
} 

div.uDModal {
    float: left;
    width: 20%;
    display: inline-block;
    vertical-align: middle;
}
input.content-hide {
 /*    width: 94px; */
    margin: 0 !important;
}
input.btn.btn-success.no-margin-left.btn-set-right {
    float: right;
    margin-right: 80px;
    margin-top: 20px;
}
.uDModal {
    color: #000;
    font-weight: bold;
}

#order_deposite .sub_nav h3 {
    display: inline-block;
    float: left;
    margin: 10px 15px 0 0;
}
#order_deposite .post_charge_btn {
    width: 135px;
}
#order_deposite  .col-sm-3.form-group {
    width: 21%;
}
#order_deposite .col-sm-4.form-group {
    width: 31%;
}
th.th_billing_class {
    min-width: 75px !important;
}
.envelope_icon {
    display: block;
    text-align: center;
}
.envelope_menu {
    right: 0;
    left: inherit;
}

.custom_icon>input {
    width: 16px;
    height: 19px;
    position: absolute;
    left: 2px;
    background: transparent;
    border: none;
}
.custom_icon.fa.fa-trash-o {
    position: relative;
}

.overview_section .sub_nav {
    background: #616161;
    display: inline-block;
    width: 100%;
    margin-top: 15px;
}
.sub_nav .nav.navbar-nav.nav-pills {
    padding: 5px 15px;
}
#content_info td .green a {
    color: #ffffff !important;
}




.tab-content>.address_secs.active {
    background: #fff;
    color: #333;
    padding: 15px;
    margin-top: 15px;
	overflow:hidden;
}

.address_secs .director_header {
    display: inline-block;
	width: 100%;
}
.director_header h3 {
    margin-top: 5px;
}
/* .sub_left_nav {
    margin-top: 70px;
} */
.address_secs h2 {
    font-size: 20px;
    background: #eee;
    padding: 10px;
}
.nature_link>a {
    display: block;
    color: #5bbc2f;
    font-size: 14px;
    margin-bottom: 10px;
}
.sub_nav .exit {
    float: right;
    margin-top: 12px;
}
.sub_nav .exit .fa-times {
    color: red;
    font-size: 22px;
}
td.view_det {
    width: 50px;
}
span#head_top {
    text-transform: uppercase;
}
#contact_details .modal-content,
#billing_information .modal-content,
#reseller_update .modal-content,
#order_information .modal-content {
    background-color: #ffffff;
}
#contact_details .modal-body .form-control,
#billing_information .modal-body .form-control,
#order_information .modal-body .form-control,
#reseller_update .modal-body .form-control {
    display: block;
    width: 100%;
    height: 34px !important;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc !important;
    font-weight: 300;
}
#reseller_update.modal .form-group .btn {
    margin-top: 0;
}
#reseller_update .modal-dialog {
    width: 100% !important;
    max-width: 1000px !important;
}
#order_information.modal .form-group .btn {
    margin-top: 20px !important;
    padding: 6px 15px !important;
    height: 35px !important;
}
.form-section.partner_page {
    border: 5px solid #DBE5E6 !important;
    margin-right: 10px;
    display: inline-block;
    width: calc(100% - 10px);
    margin-top: 15px;
}
.partner_page .table.manage-reseller.table-bordered {
    margin: 0;
}
.partner_page  .manage-reseller th {
    background: #efeee9 none repeat scroll 0 0;
}
.partner_page  .manage-reseller tr:hover {
    background: #fff;
}
.head_top {
    text-transform: uppercase;
}
.fa-commenting-o.active {
    color: #65d432;
    font-size: 16px;
}
.fa-commenting-o.active1 {
    color: #cd0a0a;
    font-size: 16px;
}
#multiple_pakage {
    display: none;
}
#single_package {
    display: none;
}
#paymentall {
    display: none;
}
#payment1year {
    display: none;
}
#reseller_update .form-group .form-group {
    margin-bottom: 0px;
}
.table-bordered .home-table-header tr th.text-left,
.table-bordered .home-table-header tr td.text-left{
	text-align-last:left;
}
.newdirclass #OrderPackages .reseller.td_reseller_class {
    text-transform: uppercase;
}



/* 11 oct Gaurav*/

.address_edit select {
    width:100%!important;
    padding: 10px;
}
.chat_hover:hover span {
    display: block;
    position: absolute;
    background: #fff;
    width: 150px;
    box-shadow: 0px 1px 6px #484747;
    right: 0;
    top: 40px;
    font-size: 16px;
    z-index: 99;
    padding: 2px 3px 4px;
}
.chat_hover { 
    text-align: center;
}
.chat_hover>span {
    display: none;
}
.left-nav-tab .nav.nav-tabs {
	background:#516070 none repeat scroll 0 0;
}
.left-nav-tab.sub_left_nav {
    position: fixed;
    height: 100vh;
}
.left-nav-tab.sub_left_nav .nav.nav-tabs li a {
    padding: 16px 6px;
}
.td_company_class.dropdown.set_dropdown_ltd a {
    display: inline-block;
    width: 100%;
}
.left-nav-tab .nav.nav-tabs li a {
    border-radius: 0;
    color: #fff !important;
	margin-right: 0;
}
.left-nav-tab .nav.nav-tabs li.active a,
.left-nav-tab .nav.nav-tabs li:hover a {
    color: #616161 !important;
}
.left-nav-tab  .nav.nav-tabs li {
    border-top: 1px solid #ccc;
    border-right: none;
}

.swal2-container.swal2-fade.swal2-shown {
    z-index: 999999999;
}
.swal2-buttonswrapper>.btn {
    min-width: 70px;
    margin: 0 8px;
}
td.td_company_class.dropdown.set_dropdown_ltd {
    text-transform: uppercase;
}
/* .diector_view>span>span {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: 0px;
} */
.diector_view>span {
    background: #5bbc2f;
    padding: 4px;
    text-align: center;
    font-size: 22px;
    display: block;
    max-width: 215px;
    margin: 0 auto;
}
.diector_view>span:after {
    content: '';
    border-bottom: 1px solid #73879C ;
    width: calc(50% - 138px);
    display: block;
    position: absolute;
    right: 30px;
    top: 26px;
    z-index: 1;
}
.diector_view>span:before {
    content: '';
    border-bottom: 1px solid #73879C ;
    width: calc(50% - 138px);
    display: block;
    position: absolute;
    left: 30px;
    top: 26px;
    z-index: 1;
}

.diector_view {
    margin: 0;
    padding: 5px 0 0;
    position: relative;
    top: -42px;
}
#sync_company_modal h4 {
    margin-bottom: 0;
}
#sync_company_modal #Submit_company_number {
    margin: 0;
}
#sync_company_modal .main-title.mb_35 {
    font-size: 18px;
    color: #333;
}
#sync_company_modal .mt_80 {
    margin-top: 35px;
}
.td_company_class.dropdown.set_dropdown_ltd .dropdown-toggle {
    padding-left: 6px;
}
.td_company_class.dropdown.set_dropdown_ltd .dropdown-toggle .comp_full_name {
    padding: 0;
}
#opportunities th.column-title {
    min-width: 80px;
}
.history_time {
    padding-left: 5px !important;
}
#opportunities {
    margin-top: 10px;
}
.reseller.td_reseller_class .sub__menu {
    background: #fff;
    box-shadow: 1px 1px 10px #949191;
    position: absolute;
    max-width: 170px;
    padding: 5px;
    z-index: 999;
    display: none;
    border-radius: 4px;
    margin-top: 6px;
}
.reseller.td_reseller_class:hover .sub__menu {
	display:block;
}
.reseller.td_reseller_class .sub__menu span {
    border-top: 1px solid #e4e2e2;
    display: block;
    width: 100%;
}
.reseller.td_reseller_class .sub__menu span a{
    padding: 5px 0;
	display: block;
}
.reseller.td_reseller_class .sub__menu span:first-child {
    border-top: none;
}
.days__list .sub_nav, .days__list .search-custom {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
.days__list .sub_nav .nav-pills {
    padding-top: 0 !important;
}
.days__list {
    text-align: center;
    padding-bottom: 8px !important;
}
.days__list .search-custom input {
    display: inline-block;
    width: 145px;
    border-radius: 4px !important;
    padding: 0 5px;
    height: 36px !important;
    text-align: center;
    margin-bottom: 5px;
}
#NewOrders #new_ord {
    padding: 20px 10px;
    font-size: 14px;
    border: none;
    width: 100%;
    text-align: left;
	background: transparent;
	color: #fff;
}
l#NewOrders.active #new_ord:hover, #NewOrders #new_ord:hover, #NewOrders.active #new_ord {
    background: #fff;
	color: #525252;
}
.new__box {
    display: inline-block;
    vertical-align: middle;
}


.overview-box>h3>a {
    font-size: 14px;
    float: right;
    color: #5bbc2f;
    margin-top: 1px;
}
.diector_view.trading_view>span {
    max-width: 250px;
}
.diector_view.trading_view>span:before,
.diector_view.trading_view>span:after {
    width: calc(50% - 155px);
}
.custom_col {
    display: inline-block;
    vertical-align: top;
    float: none;
    width: calc(50% - 2px);
}
.custom_col td .btn.btn-success {
    padding: 3px 10px;
}
.view__modal .modal-dialog {
    width: 100%;
    margin: 30px auto;
    max-width: 1000px;
}
.view__modal .box .form-control {
	padding: 7px;
    font-size: 16px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc !important;
    border-radius: 0 !important;
    font-weight: 300;
    height: 38px !important;
}
.diector_view.company__results {
    top: 0;
    display: inline-block;
    width: 100%;
    margin-bottom: 20px; 
}
ul.nav.navbar-nav.nav-pills {
    margin-left: -25px;
}
.nav.navbar-nav.nav-pills>li+li {
    margin-left: 8px;
}
#order_information #order_detail {
    padding: 0 !important;
}
#order_information #order_detail .action-btn.btn-print {
    text-align: left;
}
#order_information #order_detail .action-btn.btn-print>input {
    margin: 20px 5px 0 0  !important;
}
.add_service__sidebar {
    width: calc(100% - 180px);
    float: right;
}
.add__service .left-nav-tab {
    padding-top: 10px;
    margin-left: -10px;
}
.import_status {
    text-transform: uppercase;
    min-width: 70px !important;
}
.set_dropdown_ltd.vba_row {
    text-align: center;
}


.nav-pills.no_margin {
    margin-left: 0 !important;
}
.overview-box22 .row_edit>.col-sm-6 {
    display: inline-block;
    vertical-align: top;
    float: none;
    margin-left: -2px;
}
.new_tables .green,
.new_tables .orange,
.new_tables .red {
    max-width: 70px;
	text-align:center;
	margin: 0 auto;
}
.new_tables th.th_company_class {
    width: 300px !important;
}
.active_box {
    text-transform: uppercase;
}
th.th_renew_class {
    min-width: 72px !important;
}
.roa_row_view.th_location_class {
    min-width: 180px !important;
}





.new_box {
    margin-top: 60px;
}
.new_box .search-form-custom {
    width: calc(100% - 30px);
    margin: 20px 15px 0;
}
.select_add_serv .box_button p {
    min-height: 40px;
    font-size: 35px;
	margin-bottom: 8x;
	font-weight: bold;
}
.select_add_serv .box_button span
{
	font-weight: bold;
}
.select_add_serv .box_button {
	margin-bottom: 20px;
    border-bottom: 3px solid #fff;
    color: #333;
    background: #fff;
    text-align: center;
}
.box_button:hover {
    border-bottom: 3px solid #5bbc2f !important;
    color: #333;
}
.box_pay .checkbox-mailingaddress {
    display: inline-block;
    font-size: 15px;
    margin-right: 6px;
	margin-left: 25px;
}
.box_button {
    box-shadow: 1px 1px 10px #ccc;
    display: inline-block;
    width: 100%;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
    text-decoration: none !important;
    cursor: pointer;
}
.my_icon {
    float: right;
    font-size: 24px;
    margin: 1px 0;
	position: relative;
}
.hover_txt_new {
	display: none;
    position: absolute;
    bottom: 30px;
    right: -15px;
    font-family: sans-serif;
    box-shadow: 0px -1px 15px #ccc;
    border-radius: 5px;
    background: #fff;
    color: #333;
    font-size: 16px;
    white-space: initial;
    width: 300px;
    padding: 10px;
    z-index: 9999999;
    text-align: center;
    line-height: 22px;
}
.my_icon:hover .hover_txt_new {
	display: block;
}
.hover_txt_new .pin { 
    width: 0px;
    height: 0px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #ffffff;
    position: absolute;
    bottom: -10px;
    right: 15px;
} 
.box_button>hr {
    max-width: 65px;
    border-top: 2px solid #516070;
    margin: 40px auto;
}
.select_add_serv .box_button h3 {
    font-weight: 300;
    display: inline-block;
    width: 100%;
    margin: 10px 0 0 0;
}
.new_title_row {
    background: #516070;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    margin: 20px 0;
    position: relative;
}
.new_title_row .fa-caret-down {
    position: absolute;
    bottom: -34px;
    font-size: 57px;
    color: #516070;
	left: 0;
    right: 0;
}
.new_title_row .panel-title {
    font-size: 30px;
    margin: 10px 0 5px;
}
.new_title_row .panel-txt {
    font-size: 16px;
} 
.new_box .navbar-nav.nav-pills {
    margin-top: -5px;
}

.homedata .th_state_class #state_change {
    max-width: 45px;
}

.invoice-print tr td {
    border-right: 1px solid #ddd;
}
#content_info .red a {    
color: #fff !important;
}
