*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body  {
	background: #e67e22;
}

.container {
	padding: 80px;
}

.bt-menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 0;
	border-width: 0px;
	border-style: solid;
	border-color: #333;
	background-color: rgba(0,0,0,0);
	-webkit-backface-visibility: hidden;
	-webkit-transition: border-width 0.3s, background-color 0.3s, height 0s 0.3s;
	transition: border-width 0.3s, background-color 0.3s, height 0s 0.3s;
}

.bt-menu.bt-menu-open {
	height: 100%;
	border-width: 30px 30px 30px 90px;
	background-color: rgba(0,0,0,0.3);
	-webkit-transition: border-width 0.3s, background-color 0.3s;
	transition: border-width 0.3s, background-color 0.3s;
}

.bt-overlay {
	position: absolute;
	width: 100%;
}

.bt-menu-open .bt-overlay {
	height: 100%;
}

.bt-menu-trigger {
	position: fixed;
	bottom: 0;
	left: 0;
	display: block;
	margin: 0 0 5px 5px;
	width: 80px;
	height: 80px;
	font-size: 0px;
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.bt-menu-trigger:before,
.bt-menu-trigger:after {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 6px;
	height: 48px;
	background: #fff;
	content: '';
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.bt-menu-trigger:after {
	-webkit-transform: translateX(-50%) translateY(-50%) rotate(90deg);
	transform: translateX(-50%) translateY(-50%) rotate(90deg);
}

.bt-menu-close .bt-menu-trigger:before {
	-webkit-animation: plusVertical 0.3s ease forwards;
	animation: plusVertical 0.3s ease forwards;
}

.bt-menu-close .bt-menu-trigger:after {
	-webkit-animation: plusHorizontal 0.3s ease forwards;
	animation: plusHorizontal 0.3s ease forwards;
}

.bt-menu-open .bt-menu-trigger:before {
	-webkit-animation: minusVertical 0.3s ease forwards;
	animation: minusVertical 0.3s ease forwards;
}

.bt-menu-open .bt-menu-trigger:after {
	-webkit-animation: minusHorizontal 0.3s ease forwards;
	animation: minusHorizontal 0.3s ease forwards;
}

@-webkit-keyframes plusVertical {
	from { height: 0px; }
	to { height: 48px; }
}

@keyframes plusVertical {
	from { height: 0px; }
	to { height: 48px; }
}

@-webkit-keyframes plusHorizontal {
	50% { height: 60px; }
}

@keyframes plusHorizontal {
	50% { height: 60px; }
}

@-webkit-keyframes minusVertical {
	to { height: 0px; }
}

@keyframes minusVertical {
	to { height: 0px; }
}

@-webkit-keyframes minusHorizontal {
	50% { height: 60px; }
}

@keyframes minusHorizontal {
	50% { height: 60px; }
}

.bt-menu ul {
	position: fixed;
	bottom: 100px;
	left: 0;
	margin: 0;
	padding: 0;
	width: 90px;
	list-style: none;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.bt-menu ul li,
.bt-menu ul li a {
	display: block;
	width: 100%;
	text-align: center;
}

.bt-menu ul li {
	opacity: 0;
	visibility: hidden;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s, visibility 0s 0.3s;
	transition: transform 0.3s, opacity 0.2s, visibility 0s 0.3s;
	-webkit-transform: translate3d(-100%,0,0);
	transform: translate3d(-100%,0,0);
}

.bt-menu.bt-menu-open ul li:nth-child(5) { 
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

.bt-menu.bt-menu-open ul li:nth-child(4) { 
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s; 
}

.bt-menu.bt-menu-open ul li:nth-child(3) { 
	-webkit-transition-delay: 0.15s; 
	transition-delay: 0.15s; 
}

.bt-menu.bt-menu-open ul li:nth-child(2) { 
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s; 
}

.bt-menu.bt-menu-open ul li:first-child { 
	-webkit-transition-delay: 0.25s; 
	transition-delay: 0.25s; 
}

.bt-menu.bt-menu-open ul li {
	visibility: visible;
	opacity: 1;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s 0.1s;
	transition: transform 0.3s, opacity 0.3s;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.bt-menu ul li a {
	margin-top: 30px;
	outline: none;
	color: transparent;
	text-decoration: none;
	font-size: 0px;
}

.bt-menu ul li a:before {
	color: #fff;
	font-size: 48px;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}

.bt-menu ul li a:hover:before,
.bt-menu ul li a:focus:before {
	color: #e67e22;
}


@media screen and (max-height: 31.125em) {
	.bt-menu ul li a:before {
		font-size: 32px;
	}
}