*,
*:after,
*::before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body  {
	background:#F9F9FA;
	font-size:12px;
}
.container {
	padding: 80px;
}
.bt-menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 0;
	border-width: 0px;
	border-style: solid; 
	border-color: #333;
	background-color: rgba(0,0,0,0);
	-webkit-backface-visibility: hidden;
	-webkit-transition: border-width 0.3s, background-color 0.3s, height 0s 0.3s;
	transition: border-width 0.3s, background-color 0.3s, height 0s 0.3s;
}
.bt-menu.bt-menu-open {
	height: 100%;
	border-width: 0px 0 0px 320px;
	background-color: rgba(0,0,0,0.3);
	-webkit-transition: border-width 0.3s, background-color 0.3s;
	transition: border-width 0.3s, background-color 0.3s;
}
.bt-overlay {
	position: absolute;
	width: 100%;
}
.bt-menu-open .bt-overlay {
	height: 100%;
}
.bt-menu-trigger {
	position: fixed;
	top: 15px;
	left: 20px;
	display: block;
	width: 30px;
	height: 50px;
	cursor: pointer;
}
.bt-menu-trigger span {
	position: absolute;
	top: 50%;
	left: 0;
	display: block;
	width: 100%;
	height: 3px;
	margin-top: -2px;
	background-color: #fff;
	font-size: 0px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-transition: background-color 0.3s;
	transition: background-color 0.3s;
}
.bt-menu-open .bt-menu-trigger span {
	background-color: transparent;
}
.bt-menu-trigger span:before,
.bt-menu-trigger span:after {
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	content: '';
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}
.bt-menu-trigger span:before {
	-webkit-transform: translateY(-250%);
	transform: translateY(-250%);
}
.bt-menu-trigger span:after {
	-webkit-transform: translateY(250%);
	transform: translateY(250%);
}
.bt-menu-open .bt-menu-trigger span:before {
	-webkit-transform: translateY(0) rotate(45deg);
	transform: translateY(0) rotate(45deg);
}
.bt-menu-open .bt-menu-trigger span:after {
	-webkit-transform: translateY(0) rotate(-45deg);
	transform: translateY(0) rotate(-45deg);
}
.bt-menu ul {
	position: fixed;
	top: 75px;
	left: 0;
	margin: 0;
	padding: 0;
	width: 90px;
	list-style: none;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.bt-menu ul li,
.bt-menu ul li a {
	display: block;
	width: 100%;
	text-align: center;
}
.bt-menu ul li {
	padding: 16px 0;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s, visibility 0s 0.3s;
	transition: transform 0.3s, opacity 0.2s, visibility 0s 0.3s;
}
.bt-menu ul li:first-child { 
	-webkit-transform: translate3d(-100%,200%,0);
	transform: translate3d(-100%,200%,0);
}
.bt-menu ul li:nth-child(2) { 
	-webkit-transform: translate3d(-100%,100%,0);
	transform: translate3d(-100%,100%,0);
}
.bt-menu ul li:nth-child(3) { 
	-webkit-transform: translate3d(-100%,0,0);
	transform: translate3d(-100%,0,0);
}
.bt-menu ul li:nth-child(4) { 
	-webkit-transform: translate3d(-100%,-100%,0);
	transform: translate3d(-100%,-100%,0);
}
.bt-menu ul li:nth-child(5) { 
	-webkit-transform: translate3d(-100%,-200%,0);
	transform: translate3d(-100%,-200%,0);
}

.bt-menu.bt-menu-open ul li {
	visibility: visible;
	opacity: 1;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s 0.1s;
	transition: transform 0.3s, opacity 0.3s;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
.bt-menu ul li a {
	display: block;
	outline: none;
	color: transparent;
	text-decoration: none;
	font-size: 0px;
}
.bt-menu ul li a:before {
	color: #fff;
	font-size: 48px;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}
.bt-menu ul li a:hover:before,
.bt-menu ul li a:focus:before  {
	color: #fff;
}
@media screen and (max-height: 31.125em) {
	.bt-menu ul li a:before {
		font-size: 32px;
	}
}
.bt-menu > ul, .bt-menu-close > ul {
    display: none;
}
.bt-menu-open > ul{
	display:block;
}
tr {
    background: #efeee9 none repeat scroll 0 0;
    color: #303030;
}
tr th {
    border-right: 2px solid #dddddd;
}
*, *::after, *::before {
    box-sizing: border-box;
}
*::before, *::after {
    box-sizing: border-box;
}
*, *::after, *::before {
    box-sizing: border-box;
}
*::before, *::after {
    box-sizing: border-box;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border-top: 1px solid #dddddd;
    line-height: 1.42857;
    padding: 8px;
    vertical-align: top;
}
tr td{
    padding: 12px 5px !important;
    text-align:left;
}
tr th{
	padding: 10px 5px !important;
}
th select {
    background: rgba(0, 0, 0, 0) url("../images/arrow.png") no-repeat scroll right center;
    border: medium none;
    box-shadow: none;
	background-image:none;
    -webkit-appearance: none;  /*Removes default chrome and safari style*/
    -moz-appearance: none;  /*Removes default style Firefox*/
}
 .nav.navbar-nav a {
    background: #3c3c3c none repeat scroll 0 0;
    color: #ffffff !important;
    font-size: 13px;
    margin: 5px 6px;
    padding: 8px;
    font-weight:bold;
    transition:.30s all;
    border-radius:2px;
}
 .nav.navbar-nav li.active a,  .nav.navbar-nav li a:hover, .nav.navbar-nav li a:focus {
    background:  #D8335D none repeat scroll 0 0;
    color: #fff;
}
.hiddenRow {
    padding: 0 !important;
}
/* Fixed Table Head  */
#content_info .table_data > .table > thead {
  /*  display: inline-block;*/
    margin-bottom: 39px;
    width:100%;
}
/* 
#content_info .table_data > .table > thead tr {
    position: fixed;
    width: 100%;
    z-index: 100;
}
*/
.th_company_class, .th_reseller_class, .th_state_class, .th_renew_class{ text-align:left !important}
.getSelect1.locClick {
    text-align: center;
}
.td_renew_class {
    padding-left: 2px !important;
}
.td_reseller_class {
    padding-left: 9px !important;
}
/*
 #content_info .table_data > .table  tr  th:nth-child(2), #content_info .table_data > .table td:nth-child(2) {
    width: 130px;
}
 #content_info .table_data > .table  tr  th:nth-child(4), #content_info .table_data > .table tr  td:nth-child(4) {
    width: 110px;
ll
}
#content_info .table_data > .table  th, #content_info .table_data > .table  td {
    width: 90px;
}
*/
.tab-content{
	width:100%;
}
.dropdown:hover .dropdown-menu{
	display:block;
}
.cmpny-img img {
    height: auto;
    max-width: 190px;
}
/* Fixed Table Head  */
.modal-backdrop.in {
    opacity: 0.5 !important;
    z-index: 0 !important;
}
.seach-cmpny .btn.btn-success {
    float: right !important;
    margin-top: 4px !important;
}
.modal-body.status_update > form {
    display: inline;
}
.add_company > a {
    background: #5bbc2f none repeat scroll 0 0 !important;
}
/* .live-btn > a {
    background: #5bbc2f none repeat scroll 0 0 !important;
}
 */
.live-btn img{
	display:none;
}	
.live-btn > a::before {
    content: "Live Support";
}	
.btn-mk-payment {
    margin-top: 25px !important;
}
footer {
   /* bottom: 0;
    position: fixed; */
    width: 100%;
}
#OrderPackages span {
    float: left;
}
#OrderPackages span img {
    float: left;
    width: 100%;
}
.date_th {
    width: 9% !important;
}
.time_th {
    width: 8% !important;
}
.to_th {
    width: 10% !important;
}
.form_th {
    width: 9% !important;
}
.tel_th {
    width: 10% !important;
}
.tab_message_email {
    width: 16% !important;
}
.tab_message_message {
    width: 25% !important;
}
.tab_message_message {
    text-align: left !important;
    width: 25% !important;
}
.delete_th {
    width: 10% !important;
}
.type_th {
    width: 12% !important;
}
.file_th {
    width: 36%;
}
.download_th {
    width: 8%;
}
.original_th {
    width: 15%;
}
.text-left .btn.btn-success {
    float: left !important;
    margin-top: 0 !important;
}
.btn-pop-blw{
margin-top:30px;
}
.td_company_class, .th_company_class{
   width: 196px !important;
}
.cmpny.th_company_class {
    border-left: none;
}
.reseller-head.th_reseller_class, .reseller.td_reseller_class {
    width: 180px !important;
}
.th_state_class, .td_status_class {
    width: 135px !important;
}
.th_renew_class, .td_renew_class {
    width: 130px !important;
}
.th_location_class, .td_location_class, .th_reg_class, .td_reg_class, .th_director_class, .td_director_class, .th_business_class,
.td_business_class, .th_tele_class, .td_tele_class, .th_host_class, .td_host_class {
    width: 80px !important;
}
.td_deposit_class, .th_deposit_class, .td_price_class, .th_price_class {
    width: 66px !important;
}
.th_state_class select, .td_status_class, .th_renew_class, .td_renew_class, .td_tele_class, .th_tele_class, th select option{
 text-align:center !important;
}
#content_info td{
  color:#337ab7;
}
/*.th_diposite_class, .td_deposit_class, .th_price_class, .td_price_class, .th_upload_class, .uploadId {
    width: 102.7px !important;
}
/*
.td_company_class, .th_company_class{
   width:190px !important;
}
.cmpny.th_company_class {
    border-left: none;
}
.reseller-head.th_reseller_class, .td_reseller_class {
    width: 13% !important;
}
.th_state_class, .td_status_class {
    width: 8% !important;
}
.th_renew_class, .td_renew_class {
    width: 8% !important;
}
.th_location_class, .td_location_class, .th_reg_class, .td_reg_class, .th_director_class, .td_director_class, .th_business_class,
.td_business_class, .th_tele_class, .td_tele_class, .th_host_class, .td_host_class {
    width: 6% !important
}
.th_diposite_class, .td_deposit_class, .th_price_class, .td_price_class, .th_upload_class, .uploadId {
    width: 7.2% !important;
}
*/
#content_info .table_data > .table > thead.static-header {
    display: table-row-group !important;
    width: 100%;
}
.static-header tr {
    position: static !important;
}

  .form-inline {
    float: left;
 }
 .no-margin-left{
   margin-left:0 !important;
 }
 .forms-buttons {
    bottom: 35px;
    left: 125px;
    position: absolute;
}
.modal .form-group .btn {
    margin-top: 30px;
}
.th_host_class {
    text-align: center;
}
.panel.panel-default .panel-heading {
    display: inline-block;
    width: 100%;
    padding: 0px 15px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}
.offer-popup-sec .panel.panel-default .box label {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 3px;
}
.offer-popup-sec .panel-group .panel.panel-default {
    margin-top: 0;
}
.offer-popup-sec .panel-group .panel.panel-default .form-inline .form-control {
    width: 100% !important;
}
.offer-popup-sec .panel-group .panel.panel-default .form-group.box.dob>div {
    padding: 0px !important;
    margin-right: 5px !important;
}
.offer-popup-sec .panel-group .panel.panel-default .panel-body {
    padding: 30px 0px;
}
.offer-popup-sec {
    background: #fff;
    padding: 0px !important;
}
.offer-popup-sec .panel.panel-default .panel-heading {
    display: inline-block;
    width: 100%;
    padding: 15px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    background: #5BBC2F;
    border: none !important;
}
.offer-popup-sec .panel.panel-default .box label {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 3px;
}
.offer-popup-sec .panel-group .panel.panel-default {
    margin-top: 0;
}
.offer-popup-sec .panel-group .panel.panel-default .form-inline .form-control {
    width: 100% !important;
}
.offer-popup-sec .panel-group .panel.panel-default .form-group.box.dob>div {
    padding: 0px !important;
    margin-right: 5px !important;
}
.offer-popup-sec .panel-group .panel.panel-default .panel-body {
    padding: 30px 0px;
}
.offer-popup-sec {
    background: #fff;
    padding: 0px !important;
}
.offer-popup-sec .panel.panel-default .form-inline {
    float: none;
}
.offer-popup-sec .panel-default {
    border: none;
}
.offer-popup-sec p.text-note {
    padding: 0 15px;
}
.offer-popup-sec .box.list-content>ul {
    padding: 0 0 0 15px;
}
.offer-popup-sec .panel.panel-default .panel-heading .panel-title a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}
.form-actn-bottm {
    display: inline-block;
}
.text-right.form-actn-top.chng-status .btn.btn-success {
    display: inline-block;
    margin-right: 10px;
}
.text-right.form-actn-top.chng-status {
    display: inline-block;
}
.post_charge_btn .btn {
    margin-top: 15px !IMPORTANT;
}

.new_checkbox input#same_reg_address {
    width: auto;
    float: left;
	height: auto !important;
    margin-right: 6px;
}
.home-table-header th {
    font-size: 13px;
}
.image_uploader_outer {
	display: inline-block;
    width: 100%;
}
.image_uploader>input[type="file"] {
    display: inline-block;
    max-width: 185px;
    overflow: hidden;
    height: 21px;
    vertical-align: middle;
}
.image_uploader>div {
    vertical-align: middle;
    display: inline-block;
}
#order_deposite #close_modal.exit {
    padding: 0;
}
.modal-body .form-control#message_post {
    min-height: 90px !important;
}
#comment.save_message_text {
    min-height: 270px;
}
/*---login view---*/
.right__view .img__box{
	background: url(../images/bg__image.jpeg);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #d9d9d9;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
	box-shadow: 1px 1px 1px 3px black;
}
.right__view {
    height: 100vh;
	position: fixed;
    right: 0;
}
.contant__row {
    z-index: 9;
    position: absolute;
    max-width: 575px;
    right: 0;
    left: 0;
    margin: 0 auto;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}
.heading__row {
    line-height: 1.44em; 
    font-size: 23px;
    font-weight: 500;
    color: #333;
    text-shadow: 0px 1px 25px #fff;
}
.right__view .contant__row .btn-primary {
    color: #000;
    border-color: #000;
    background: transparent;
    border-radius: 3px;
    border: 2px solid;
    font-weight: 600;
    margin-top: 10px;
}
.right__view .contant__row .btn-primary:hover,
.right__view .contant__row .btn-primary:active {
    color: #606060;
    border-color: #606060;
}
.profile-img-card {
    border-radius: 100px;
    max-width: 150px;
    margin: 5px auto 0;
    display: block;
}
.left__view {
    background: #fff;
    min-height: 100vh;
}
.login__heading {
    margin: 30px 0 20px;
}
.outer__input input {
    display: inline-block;
    margin-bottom: 2em;
    vertical-align: middle;
    border-radius: 3px;
    min-width: 50px;
    max-width: 635px;
    width: 100%;
    min-height: 46px;
    background-color: #ffffff;
    border: 2px solid #c9c9c9;
    margin: 0 0 24px 0;
    font-size: 16px;
	font-family: sans-serif;
}
.outer__input label {
    font-size: 16px;
	display: block;
}
.text {
    font-size: 24px;
    font-family: sans-serif;
    color: #7e7e7e;
	margin-bottom: 30px;
}
.btn-signin {
    border: 0 none;
    border-radius: 3px;
    font-size: 20px;
    min-height: 46px;
	margin-top: 10px;
	width: 100%;
}
.checkbox {
    font-size: 16px;
    text-align: center;
    margin: 25px 0;
}
#remember label {
    font-weight: bold;
}
.checkbox input[type="checkbox"] {
    width: 16px;
    height: 16px;
    margin-left: -20px;
}
.last__unit {
    color: #959595;
    text-align: center;
    font-size: 14px;
    margin-top: 12%;
    font-family: sans-serif;
}
.last__unit a{
    color: #484848;
	text-decoration: underline;
	    cursor: pointer;
}
.last__unit a:hover{
    color: #337ab7;
}
.eyes__icon .fa-eye {
    font-size: 22px;
    vertical-align: bottom;
}
.eyes__icon {
    float: right;
    color: #337ab7;
}
.left_inner_view {
   /*  padding: 0 15px; */
    max-width: 600px;
    margin: 0 auto;
}
/*---login view---*/
#myModal_terms .modal-dialog,
#myModal_privacy_policy .modal-dialog {
    width: 100%;
    margin: 30px auto;
    font-size: 14px;
    font-family: sans-serif;
	max-width: calc(1440px - 20px);
}
#myModal_terms, #myModal_privacy_policy {
    padding: 0 !important;
}
#myModal_terms .txt-bx h5, #myModal_terms .text_scetion h5,
#myModal_privacy_policy .txt-bx h5, #myModal_privacy_policy .text_scetion h5 {
    color: #231f20;
    font-weight: bold;
	font-size: 18px;
}
#myModal_privacy_policy .txt-bx > ul {
    padding-left: 30px;
}
#myModal_terms .modal-body,
#myModal_privacy_policy  .modal-body {
    max-height: 500px;
    overflow: auto;
}
#myModal_terms .modal-content,
#myModal_privacy_policy .modal-content {
    padding-bottom: 4px;
}
.message__box {
    text-overflow: ellipsis;
    word-break: break-all;
    overflow: hidden;
    white-space: nowrap;
    background: #fff;
}
.message__box:hover {
    white-space: inherit;
}
.document_print tr td {
    border-right: 1px solid #dddddd;
}
.document__box,
.mail__box {
    text-overflow: ellipsis;
    word-break: break-all;
    overflow: hidden;
    white-space: nowrap;
    background: #fff;
    max-width: 300px;
}
.document__box:hover,
.mail__box:hover {
    white-space: inherit;
}
.sub_left_nav .tabs-left {
    padding-top: 0 !important;
}
.set_dropdown_ltd:hover .dropdown-menu.envelope_menu {
    display: block;
}
.set_dropdown_ltd.open .dropdown-menu.envelope_menu {
    display: none;
}
.set_dropdown_ltd.open:hover .dropdown-menu.envelope_menu {
    display: block;
}
.style_table .dropdown-toggle .green {
    min-width: 50px;
}
#content_info .style_table td {
    padding-left: 2px !important;
}
#content_info .style_table td.company_names {
    padding-left: 10px !important;
}
td.active_view a,
td.not-active_view a {
    text-align: center !important;
    display: block;
}
#content_info .style_table td.contact_view,
#content_info .style_table td.web_view,
#content_info .style_table td.country_view {
    padding: 8px 8px !important;
}
/* login page css */
.login__page {
    max-width: 430px;
    margin: 0 auto;
    margin-top:12%;
}
.hr {
    background-color: #e6e6e6;
    height: 1px;
    margin-bottom: 15px;
}
.forgot_create>a {
    display: block;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    font-family: sans-serif;
    color: #5bbc2f;
}
.outer_input input[type="submit"] {
    background: #5bbc2f;
    font-family: sans-serif;
}
.outer_input input[type="submit"]:hover {
    background: #3ea011!important;
}
.nav2 >.navbar-default {
    background-color: #F9F9FA!important;
    border-color: #F9F9FA!important;
}
input:-webkit-input-placeholder{
font-family:sans-serif;
/* end login page css */
}
.outer_input input[type="button"]:focus,.outer_input input[type="button"] {
    background: #5bbc2f;
    font-family: sans-serif;
}
#content_info .booking-form .style_table .td_company_class:first-child {
    padding-left: 5px !important;
}
#edit_reseller_mod .forms-buttons {
    display: inline-block;
    float: right;
    position: relative;
    bottom: 0;
    left: 0;
    margin: 15px -10px;
}
#edit_reseller_mod .modal-body {
    margin-top: 15px;
}