*,
*:after,
*::before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body  {
	background: #04a466;
	font-size:12px;
}

.container {
	padding: 80px;
}

.bt-menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 0;
	border-width: 0px;
	border-style: solid;
	border-color: #333;
	background-color: rgba(0,0,0,0);
	-webkit-backface-visibility: hidden;
	-webkit-transition: border-width 0.3s, background-color 0.3s, height 0s 0.3s;
	transition: border-width 0.3s, background-color 0.3s, height 0s 0.3s;
}

.bt-menu.bt-menu-open {
	height: 100%;
	border-width: 0px 0 0px 320px;
	background-color: rgba(0,0,0,0.3);
	-webkit-transition: border-width 0.3s, background-color 0.3s;
	transition: border-width 0.3s, background-color 0.3s;
}

.bt-overlay {
	position: absolute;
	width: 100%;
}

.bt-menu-open .bt-overlay {
	height: 100%;
}

.bt-menu-trigger {
	position: fixed;
	top: 15px;
	left: 20px;
	display: block;
	width: 30px;
	height: 50px;
	cursor: pointer;
}

.bt-menu-trigger span {
	position: absolute;
	top: 50%;
	left: 0;
	display: block;
	width: 100%;
	height: 3px;
	margin-top: -2px;
	background-color: #fff;
	font-size: 0px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-transition: background-color 0.3s;
	transition: background-color 0.3s;
}

.bt-menu-open .bt-menu-trigger span {
	background-color: transparent;
}

.bt-menu-trigger span:before,
.bt-menu-trigger span:after {
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	content: '';
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.bt-menu-trigger span:before {
	-webkit-transform: translateY(-250%);
	transform: translateY(-250%);
}

.bt-menu-trigger span:after {
	-webkit-transform: translateY(250%);
	transform: translateY(250%);
}

.bt-menu-open .bt-menu-trigger span:before {
	-webkit-transform: translateY(0) rotate(45deg);
	transform: translateY(0) rotate(45deg);
}

.bt-menu-open .bt-menu-trigger span:after {
	-webkit-transform: translateY(0) rotate(-45deg);
	transform: translateY(0) rotate(-45deg);
}

.bt-menu ul {
	position: fixed;
	top: 75px;
	left: 0;
	margin: 0;
	padding: 0;
	width: 90px;
	list-style: none;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.bt-menu ul li,
.bt-menu ul li a {
	display: block;
	width: 100%;
	text-align: center;
}

.bt-menu ul li {
	padding: 16px 0;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s, visibility 0s 0.3s;
	transition: transform 0.3s, opacity 0.2s, visibility 0s 0.3s;
}

.bt-menu ul li:first-child { 
	-webkit-transform: translate3d(-100%,200%,0);
	transform: translate3d(-100%,200%,0);
}

.bt-menu ul li:nth-child(2) { 
	-webkit-transform: translate3d(-100%,100%,0);
	transform: translate3d(-100%,100%,0);
}

.bt-menu ul li:nth-child(3) { 
	-webkit-transform: translate3d(-100%,0,0);
	transform: translate3d(-100%,0,0);
}

.bt-menu ul li:nth-child(4) { 
	-webkit-transform: translate3d(-100%,-100%,0);
	transform: translate3d(-100%,-100%,0);
}

.bt-menu ul li:nth-child(5) { 
	-webkit-transform: translate3d(-100%,-200%,0);
	transform: translate3d(-100%,-200%,0);
}

.bt-menu.bt-menu-open ul li {
	visibility: visible;
	opacity: 1;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s 0.1s;
	transition: transform 0.3s, opacity 0.3s;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.bt-menu ul li a {
	display: block;
	outline: none;
	color: transparent;
	text-decoration: none;
	font-size: 0px;
}

.bt-menu ul li a:before {
	color: #fff;
	font-size: 48px;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}

.bt-menu ul li a:hover:before,
.bt-menu ul li a:focus:before  {
	color: #fff;
}

@media screen and (max-height: 31.125em) {
	.bt-menu ul li a:before {
		font-size: 32px;
	}
}



























.bt-menu > ul, .bt-menu-close > ul {
    display: none;
}

.bt-menu-open > ul{
	display:block;
}

tr {
    background: #efeee9 none repeat scroll 0 0;
    color: #303030;
}

tr th {
    border-right: 2px solid #dddddd;
}

*, *::after, *::before {
    box-sizing: border-box;
}
*::before, *::after {
    box-sizing: border-box;
}
*, *::after, *::before {
    box-sizing: border-box;
}
*::before, *::after {
    box-sizing: border-box;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border-top: 1px solid #dddddd;
    line-height: 1.42857;
    padding: 8px;
    vertical-align: top;
}
tr td{
    padding: 12px 5px !important;
    text-align: center;
}

tr td:first-child, tr td:nth-child(2), tr td:nth-child(3), tr td:nth-child(4){
	text-align:left;
}


tr th{
    padding: 0 5px !important;
}

th select {
    background: rgba(0, 0, 0, 0) url("../images/arrow.png") no-repeat scroll right center;
    border: medium none;
    box-shadow: none;
    padding: 10px 5px;
    width: 100%;
	background-image:none;
    -webkit-appearance: none;  /*Removes default chrome and safari style*/
    -moz-appearance: none;  /*Removes default style Firefox*/
}

 
 .nav.navbar-nav a {
    background: #3c3c3c none repeat scroll 0 0;
    color: #ffffff !important;
    font-size: 13px;
    margin: 5px 6px;
    padding: 8px 15px;
    font-weight:bold;
    transition:.30s all;
    border-radius:2px;
}

 .nav.navbar-nav li.active a,  .nav.navbar-nav li a:hover, .nav.navbar-nav li a:focus {
    background:  #D8335D none repeat scroll 0 0;
    color: #fff;
}

.hiddenRow {
    padding: 0 !important;
}



/* Fixed Table Head  */

#content_info .table_data > .table > thead {
    display: inline-block;
    margin-bottom: 39px;
    width:100%;
}
#content_info .table_data > .table > thead tr {
    position: fixed;
    width: 100%;
    z-index: 100;
}

 #content_info .table_data > .table  th:first-child, #content_info .table_data > .table  td:first-child {
    width: 300px;
}

 #content_info .table_data > .table  tr  th:nth-child(2), #content_info .table_data > .table td:nth-child(2) {
    width: 130px;
}

 #content_info .table_data > .table  tr  th:nth-child(4), #content_info .table_data > .table tr  td:nth-child(4) {
    width: 110px;
}

#content_info .table_data > .table  th, #content_info .table_data > .table  td {
    width: 90px;
}

.tab-content{
	width:100%;
}

.dropdown:hover .dropdown-menu{
	display:block;
}

.cmpny-img img {
    height: auto;
    max-width: 190px;
}
/* Fixed Table Head  */

.modal-backdrop.in {
    opacity: 0.5 !important;
    z-index: 0 !important;
}

.table.table-under-panel th {
    width: auto !important;
}
.seach-cmpny .btn.btn-success {
    float: right !important;
    margin-top: 4px !important;
}