*,
*:after,
*::before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body  {
	background: #04a466;
	font-size:12px;
}

.container {
	padding: 80px;
} 

.bt-menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 0;
	border-width: 0px;
	border-style: solid;
	border-color: #333;
	background-color: rgba(0,0,0,0);
	-webkit-backface-visibility: hidden;
	-webkit-transition: border-width 0.3s, background-color 0.3s, height 0s 0.3s;
	transition: border-width 0.3s, background-color 0.3s, height 0s 0.3s;
}

.bt-menu.bt-menu-open {
	height: 100%;
	border-width: 0px 0 0px 320px;
	background-color: rgba(0,0,0,0.3);
	-webkit-transition: border-width 0.3s, background-color 0.3s;
	transition: border-width 0.3s, background-color 0.3s;
}

.bt-overlay {
	position: absolute;
	width: 100%;
}

.bt-menu-open .bt-overlay {
	height: 100%;
}

.bt-menu-trigger {
	position: fixed;
	top: 15px;
	left: 20px;
	display: block;
	width: 30px;
	height: 50px;
	cursor: pointer;
}

.bt-menu-trigger span {
	position: absolute;
	top: 50%;
	left: 0;
	display: block;
	width: 100%;
	height: 3px;
	margin-top: -2px;
	background-color: #fff;
	font-size: 0px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-transition: background-color 0.3s;
	transition: background-color 0.3s;
}

.bt-menu-open .bt-menu-trigger span {
	background-color: transparent;
}

.bt-menu-trigger span:before,
.bt-menu-trigger span:after {
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	content: '';
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.bt-menu-trigger span:before {
	-webkit-transform: translateY(-250%);
	transform: translateY(-250%);
}

.bt-menu-trigger span:after {
	-webkit-transform: translateY(250%);
	transform: translateY(250%);
}

.bt-menu-open .bt-menu-trigger span:before {
	-webkit-transform: translateY(0) rotate(45deg);
	transform: translateY(0) rotate(45deg);
}

.bt-menu-open .bt-menu-trigger span:after {
	-webkit-transform: translateY(0) rotate(-45deg);
	transform: translateY(0) rotate(-45deg);
}

.bt-menu ul {
	position: fixed;
	top: 75px;
	left: 0;
	margin: 0;
	padding: 0;
	width: 90px;
	list-style: none;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.bt-menu ul li,
.bt-menu ul li a {
	display: block;
	width: 100%;
	text-align: center;
}

.bt-menu ul li {
	padding: 16px 0;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s, visibility 0s 0.3s;
	transition: transform 0.3s, opacity 0.2s, visibility 0s 0.3s;
}

.bt-menu ul li:first-child { 
	-webkit-transform: translate3d(-100%,200%,0);
	transform: translate3d(-100%,200%,0);
}

.bt-menu ul li:nth-child(2) { 
	-webkit-transform: translate3d(-100%,100%,0);
	transform: translate3d(-100%,100%,0);
}

.bt-menu ul li:nth-child(3) { 
	-webkit-transform: translate3d(-100%,0,0);
	transform: translate3d(-100%,0,0);
}

.bt-menu ul li:nth-child(4) { 
	-webkit-transform: translate3d(-100%,-100%,0);
	transform: translate3d(-100%,-100%,0);
}

.bt-menu ul li:nth-child(5) { 
	-webkit-transform: translate3d(-100%,-200%,0);
	transform: translate3d(-100%,-200%,0);
}

.bt-menu.bt-menu-open ul li {
	visibility: visible;
	opacity: 1;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s 0.1s;
	transition: transform 0.3s, opacity 0.3s;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.bt-menu ul li a {
	display: block;
	outline: none;
	color: transparent;
	text-decoration: none;
	font-size: 0px;
}

.bt-menu ul li a:before {
	color: #fff;
	font-size: 48px;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}

.bt-menu ul li a:hover:before,
.bt-menu ul li a:focus:before  {
	color: #fff;
}

@media screen and (max-height: 31.125em) {
	.bt-menu ul li a:before {
		font-size: 32px;
	}
}



























.bt-menu > ul, .bt-menu-close > ul {
    display: none;
}

.bt-menu-open > ul{
	display:block;
}

tr {
    background: #efeee9 none repeat scroll 0 0;
    color: #303030;
}

tr th {
    border-right: 2px solid #dddddd;
}

*, *::after, *::before {
    box-sizing: border-box;
}
*::before, *::after {
    box-sizing: border-box;
}
*, *::after, *::before {
    box-sizing: border-box;
}
*::before, *::after {
    box-sizing: border-box;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border-top: 1px solid #dddddd;
    line-height: 1.42857;
    padding: 8px;
    vertical-align: top;
}
tr td{
    padding: 12px 5px !important;
    text-align:left;
}

tr td:first-child, tr td:nth-child(2), tr td:nth-child(3), tr td:nth-child(4){
	text-align:left;
}


tr th{
    
	padding: 10px 5px !important;
}

th select {
    background: rgba(0, 0, 0, 0) url("../images/arrow.png") no-repeat scroll right center;
    border: medium none;
    box-shadow: none;
    
    width: 100%;
	background-image:none;
    -webkit-appearance: none;  /*Removes default chrome and safari style*/
    -moz-appearance: none;  /*Removes default style Firefox*/
}

 
 .nav.navbar-nav a {
    background: #3c3c3c none repeat scroll 0 0;
    color: #ffffff !important;
    font-size: 13px;
    margin: 5px 6px;
    padding: 8px 15px;
    font-weight:bold;
    transition:.30s all;
    border-radius:2px;
}

 .nav.navbar-nav li.active a,  .nav.navbar-nav li a:hover, .nav.navbar-nav li a:focus {
    background:  #D8335D none repeat scroll 0 0;
    color: #fff;
}

.hiddenRow {
    padding: 0 !important;
}



/* Fixed Table Head  */

#content_info .table_data > .table > thead {
    display: inline-block;
    margin-bottom: 39px;
    width:100%;
}
#content_info .table_data > .table > thead tr {
    position: fixed;
    width: 100%;
    z-index: 100;
}

.th_company_class, .th_reseller_class, .th_state_class, .th_renew_class{ text-align:left !important}

#content_info .table_data > .table > thead > tr > th, #content_info > .table_data > .table > tbody > tr > td {
	text-align:left;
}

.getSelect1.locClick {
    text-align: center;
}

.td_renew_class {
    padding-left: 4px !important;
}
.td_reseller_class {
    padding-left: 9px !important;
}

/*
 #content_info .table_data > .table  tr  th:nth-child(2), #content_info .table_data > .table td:nth-child(2) {
    width: 130px;
}

 #content_info .table_data > .table  tr  th:nth-child(4), #content_info .table_data > .table tr  td:nth-child(4) {
    width: 110px;ll
}

#content_info .table_data > .table  th, #content_info .table_data > .table  td {
    width: 90px;
}
*/

.tab-content{
	width:100%;
}

.dropdown:hover .dropdown-menu{
	display:block;
}

.cmpny-img img {
    height: auto;
    max-width: 190px;
}
/* Fixed Table Head  */

.modal-backdrop.in {
    opacity: 0.5 !important;
    z-index: 0 !important;
}


.seach-cmpny .btn.btn-success {
    float: right !important;
    margin-top: 4px !important;
}

.modal-body.status_update > form {
    display: inline;
}

.live-btn > a {
    background: #5bbc2f none repeat scroll 0 0 !important;
}

.live-btn img{
	display:none;
}
	
.live-btn > a::before {
    content: "Live Support";
}	
.btn-mk-payment {
    margin-top: 25px !important;
}

footer {
   /* bottom: 0;
    position: fixed; */
    width: 100%;
}
#OrderPackages span {
    float: left;
    width: 21%;
}

#OrderPackages span img {
    float: left;
    width: 100%;
}
.date_th {
    width: 9% !important;
}
.time_th {
    width: 8% !important;
}

.to_th {
    width: 10% !important;
}

.form_th {
    width: 9% !important;
}
.tel_th {
    width: 10% !important;
}

.tab_message_email {
    width: 16% !important;
}
.tab_message_message {
    width: 25% !important;
}

.tab_message_message {
    text-align: left !important;
    width: 25% !important;
}

.delete_th {
    width: 10% !important;
}

.type_th {
    width: 12% !important;
}
.file_th {
    width: 36%;
}
.download_th {
    width: 8%;
}
.original_th {
    width: 15%;
}



.text-left .btn.btn-success {
    float: left !important;
    margin-top: 0 !important;
}

.btn-pop-blw{
margin-top:30px;
}











/*


.td_company_class, .th_company_class{
   width:190px !important;
}

.cmpny.th_company_class {
    border-left: none;
}

.reseller-head.th_reseller_class, .reseller.td_reseller_class {
    width: 190px !important;
}


.th_state_class, .td_status_class {
    width: 80px !important;
}


.th_renew_class, .td_renew_class {
    width: 100px !important;
}

.th_location_class, .td_location_class, .th_reg_class, .td_reg_class, .th_director_class, .td_director_class, .th_business_class,
.td_business_class, .th_tele_class, .td_tele_class, .th_host_class, .td_host_class {
    width: 80px !important;
}

.th_diposite_class, .td_deposit_class, .th_price_class, .td_price_class, .th_upload_class, .uploadId {
    width: 102.7px !important;
}


/*

.td_company_class, .th_company_class{
   width:190px !important;
}

.cmpny.th_company_class {
    border-left: none;
}

.reseller-head.th_reseller_class, .td_reseller_class {
    width: 13% !important;
}


.th_state_class, .td_status_class {
    width: 8% !important;
}


.th_renew_class, .td_renew_class {
    width: 8% !important;
}

.th_location_class, .td_location_class, .th_reg_class, .td_reg_class, .th_director_class, .td_director_class, .th_business_class,
.td_business_class, .th_tele_class, .td_tele_class, .th_host_class, .td_host_class {
    width: 6% !important
}

.th_diposite_class, .td_deposit_class, .th_price_class, .td_price_class, .th_upload_class, .uploadId {
    width: 7.2% !important;
}

*/

#content_info .table_data > .table > thead.static-header {
    display: table-row-group !important;
    width: 100%;
}

.static-header tr {
    position: static !important;
}
